<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<title>TodoApp</title>
</head>
<body>
	<h1>Todo管理</h1>
	<a th:href="@{/todo/add}">追加する</a>
	<br>
	<h3>Todo一覧</h3>
	<table>
		<tr>
			<th>No</th>
			<th>やること</th>
			<th>期限</th>
			<th>優先順位</th>
		</tr>
		<tr th:each="todo:${todos}" th:object="${todo}">
			<td th:text=*{id}></td>
			<td th:text=*{title}></td>
			<td th:text=*{deadline}></td>
			<td th:switch="*{priority}">
				<p th:case="1">★</p>
				<p th:case="2">★★</p>
				<p th:case="3">★★★</p>
				<p th:case="*"></p>
			</td>
			<td><a th:href="@{/todo/update/{id}(id=*{id})}">変更</a> <a
				th:href="@{/todo/confirm/{id}(id=*{id})}">削除</a></td>
		</tr>
	</table>
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>