<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
<title>Login</title>
</head>
<body>
	<div class="form-container align-items-center">
		<div class="card mx-auto my-3" style="width:24rem;">
			<div class="card-body">
				<h5 class="card-title">ログイン</h5>
				<form th:action="@{/login}" method="post">
					<div class="form-group row m-3">
						<label for="username" class="form-label">ユーザー名</label>
						<input class="form-control" type="text" id="username" name="username" placeholder="user"/>
					</div>
					<div class="form-group row m-3"> 
						<label for="password" class="form-label">パスワード</label> 
						<input class="form-control" type="password" id="password" name="password" placeholder="pass"/>
					</div>
					
					<div class="my-1 text-danger small" th:if="${authenticationException}">
						<span th:text="${authenticationException.message}"></span>
					</div> 

					<div class="d-grid gap-2 col-6 mx-auto">
						<button class="btn btn-outline-primary btn-block" type="submit">サインイン</button>
						<a th:href="@{/register}" class="btn btn-outline-danger btn-block">ユーザー登録</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>