<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>追加</title>
</head>
<body>
  <h2>以下の内容を追加</h2>
  <form th:action="add" th:method="post" th:object="${todo}">
    <table>
      <tr>
        <th>やること</th>
        <th>期限</th>
        <th>優先順位</th>
      <tr>
        <td><input type="text" th:field="*{title}"></td>
        <td><input type="date" th:field="*{deadline}"></td>
        <td><select th:field="*{priority}">
            <option value="">---</option>
				    <option th:value="1">★</option>
				    <option th:value="2">★★</option>
				    <option th:value="3">★★★</option>
				    </select>
			  </td>
      </tr>
      <tr>
        <td><span th:if = "${#fields.hasErrors('title')}" th:errors = "*{title}"></span></td>
        <td><span th:if = "${#fields.hasErrors('deadline')}" th:errors = "*{deadline}"></span></td>
        <td><span th:if = "${#fields.hasErrors('priority')}" th:errors = "*{priority}"></span></td>
      </tr>
    </table>
    <input type="submit" value="追加">
  </form>
</body>
</html>