<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
<title>確認</title>
</head>
<body>
	<div class="card text-center w-75">
		<div class="card-header">削除しますか？</div>
		<div class="card-body">
			<form th:action="@{/todo/confirm/{id}(id=*{id})}" th:method="delete" th:object="${todo}">

				<div class="form-group row">
					<label for="title" class="col-sm-3 col-form-label">やること</label>
					<div class="col-sm-6">
						<input type="text" readonly class="form-control-plaintext" th:field="*{title}">
					</div>
				</div>

				<div class="form-group row">
					<label for="deadline" class="col-sm-3 col-form-label">期限</label>
					<div class="col-sm-6">
						<input type="text" readonly class="form-control-plaintext" th:field="*{deadline}">
					</div>
				</div>

				<div class="form-group row">
					<label for="title" class="col-sm-3 col-form-label">優先順位</label>
					<div class="col-sm-6">
						<span th:switch="*{priority}" class="float-left">
							<p class="text-primary" th:case="1">★</p>
							<p class="text-primary" th:case="2">★★</p>
							<p class="text-primary" th:case="3">★★★</p>
							<p th:case="*"></p>
						</span>
					</div>
				</div>

				<button class="btn btn-outline-secondary" type="submit">削除</button>
			</form>
		</div>
	</div>
</body>
</html>