<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
<title>TodoApp</title>
</head>
<body>
	<div class="container">
		<div class="text-right">
				<form th:action="@{/logout}" th:method="post">
				<button  class="btn btn-outline-success btn-sm my-2" >ログアウト</button>
				</form>
		</div>
		<h1 class="text-center text-secondary mt-5">TodoList</h1>
			
			<a class="btn btn-outline-dark btn-sm my-2" th:href="@{/todo/add}">追加</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width:40%">やること</th>
					<th style="width:15%">期限</th>
					<th style="width:15%">優先順位</th>
					<th style="width:15%">状況</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="todo:${todos}" th:object="${todo}">
					<td th:text=*{title}></td>
					<td th:text=*{deadline}></td>
					<td th:switch="*{priority}">
						<p class="text-primary" th:case=1>★</p>
						<p class="text-primary" th:case=2>★★</p>
						<p class="text-primary" th:case=3>★★★</p>
						<p th:case="*"></p>
					</td>
					<td th:text=*{status.state}></td>
					<td>
						<a class="btn btn-outline-primary btn-sm" th:href="@{/todo/update/{taskId}(taskId=*{taskId})}">変更</a>
					</td>
					<td>
						<form th:action="@{/todo/{taskId}(taskId=*{taskId})}" th:method="delete">
						<input class="btn btn-outline-secondary btn-sm" type="submit" value="削除"/>
						</form>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>